# macOS
.DS_Store

# Xcode / Swift
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage (not used yet, here for safety)
Pods/
Carthage/Build/
